$dark_blue: #003865;
$primary: $dark_blue;
$dark_grey: #222;
$header_bold: bold;
$header_font: sans-serif;
$soft: ease 0.3s all;
$dark_grey_50: rgba(0,0,0,0.5);
$body_bold: bold;
$body_font: sans-serif;
$light_grey: #b2b4b2;
$white: #fff;

header, header a {
    padding: 20px;
    font-family: sans-serif;
    color: $dark_blue
}
header a:hover {
    color: $dark_grey;
    text-decoration: none;
}
.active {
    background-color: $dark_blue;
    color: white;
    &:hover {
        color: #999;
    }
}


.events {
    padding: 20px;
    font-family: $body_font;
    .fc-toolbar{
        flex-wrap: wrap;
        // flex-direction: column;
    }
    .fc-event {
        background-color: $white;
    }
    .fc .fc-list-sticky .fc-list-day > * {
        z-index:2;
    }
    a[class^="fc"] {
        color: $dark_blue;
        &:hover {
            color: $dark_grey;
        }
    }

    div[class^="fc"] { // classname starts-with selector
        font-weight: normal;
    }

    &.list {
        .fc-header-toolbar {
            display: none;
        }
    }
    
}
